<% provide(:title, 'Update Profile') %> 


 <div class="container">
    <div class="row">
      <div class="col-xs-12 center">        
        <h3>Update Your Profile:</h3>
        <form>        
          <div class="form-group">
            <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
          <div class="form-group">        
            <%= f.text_field :name, :placeholder => "Name", :size => 50  %>
          </div>
          <div class="form-group"> 
            <%= f.text_field :email, :placeholder => "Email", class: "field_format", :size => 50  %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone, class: "field_format", :placeholder => "Phone", :size => 50 %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :placeholder => "Password", :size =>50 %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :size => 50 %>
          </div>
            <%= f.submit "Update Account", class: "btn btn-large btn-primary submit_width" %>
            <% end  %>
          </div>
        </form>
      </div>
    </div>
 </div>   