<% provide(:title, 'Edit Baby') %> 

 <div class="container" >
    <div class="row">
      <div class="col-xs-12 center"> 
        <div class="page-header">
          <h3>Add A New Baby:</h3> 
        </div>
          <%= form_for(@baby) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_field :name, class: "field_width", placeholder: "Name"  %>
            <br>
            <%= f.select(:sex, [['F','F'], ['M', 'M']], {}, { :class => 'btn btn-primary dropdown-toggle field_width margin' }) %>
            <br>
            <%= f.text_field :month, class: "field_width", placeholder: "Month" %>
            <br>
            <%= f.text_field :day, class: "field_width", placeholder: "Day" %>
            <br>
            <%= f.text_field :year, class: "field_width", placeholder: "Year"%> 
            <br>
            <%= f.hidden_field :user_id, :value => current_user.id %>

            <%= f.submit "Save Your Baby's Info!", class: "btn btn-large btn-primary field_width"  %>  
          <% end %>
          
          <div>
            <%= link_to "Delete Baby", @baby, method: :delete, 
              data: { confirm: 'Are you sure?' }, 
              class: "btn btn-large btn-danger field_width" %>
          </div>          
          <br>
    </div>
  </div>          
</div>  
