<header >
      <%= link_to "Baby Journal App", root_path, id: "logo" %> | 
      <%= link_to "About", '/static_pages/about', id: "logo" %>       
      <nav>
            <% if signed_in? %>
              <%= link_to "Profile", current_user %> |  
              <%= link_to "Update Profile", edit_user_path(current_user) %> |
              <%= link_to "See Your Questions", answers_path %> |
              <%= link_to "Sign Out", signout_path, method: "delete" %> |          
          <% else %>
            <%= link_to "Sign In", signin_path %> |
            <%= link_to "Sign Up", signup_path %>  
          <% end %> 
      </nav>
</header>